<%- include("partials/header"); -%>
<h1>Home</h1>
<p > <%= homeContent %> </p>
<% posts.forEach(function(object){ %>
        <h1> <%= object.heading %> </h1>
        <p style = "display: inline;">  <%= object.content.substring(0,100) + "..."  %> </p>
        <a style = "display: inline;" href="/posts/<%= object.heading %>"> Read More </a>
<% }); %>       
<%- include("partials/footer"); -%>